<style scoped>
    .m-b-none {
        margin-bottom: 0;
    }

    .distance {
        color: seagreen;
    }

    /* Animations */
    .list-enter-active, .list-leave-active {
        transition: all 0.6s;
    }

    .list-enter, .list-leave-to {
        opacity: 0;
        transform: translate3d(30px, 0, -30px);
    }

    .bounce-enter-active {
        animation: bounce-in .6s;
    }

    .bounce-leave-active {
        animation: bounce-in .6s reverse;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(1);
        }
    }
</style>

<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Locations
                    </span>

                    <div>
                        <a class="btn btn-success" @click="showDistanceForm">
                            Calculate Distance
                        </a>
                        <a class="btn btn-default" @click="showCreateLocationForm">
                            Create New Location
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <!-- Current Locations -->
                <p class="m-b-none" v-if="locations.length === 0">
                    You have not created any Locations.
                </p>

                <table class="table table-borderless m-b-none" v-if="locations.length > 0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th></th>
                        </tr>
                    </thead>

                    <transition-group name="list" tag="tbody">
                        <tr class="list-item" v-for="location in locations" v-bind:key="location.id">
                            <!-- ID -->
                            <td style="vertical-align: middle;">
                                {{ location.id }}
                                <transition name="bounce">
                                    <p class="distance" v-if="location.distance">{{ format(location.distance) }}</p>
                                </transition>
                            </td>

                            <!-- Latitude -->
                            <td style="vertical-align: middle;">
                                {{ location.latitude }}
                            </td>

                            <!-- Longitude -->
                            <td style="vertical-align: middle;">
                                {{ location.longitude }}
                            </td>

                            <!-- Delete Button -->
                            <td style="vertical-align: middle;">
                                <a class="action-link text-danger" @click="destroy(location)">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </transition-group>
                </table>
            </div>
        </div>

        <!-- Create Location Modal -->
        <div class="modal fade" id="modal-create-location" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title">
                            Create Location
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="createForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in createForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Create Location Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Latitude -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Latitude</label>

                                <div class="col-md-7">
                                    <input id="create-location-latitude" type="text" class="form-control"
                                                                @keyup.enter="store" v-model="createForm.latitude">

                                    <span class="help-block">
                                        Latitude
                                    </span>
                                </div>
                            </div>

                            <!-- Longitude -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Longitude</label>

                                <div class="col-md-7">
                                    <input id="create-location-longitude" type="text" class="form-control"
                                                                @keyup.enter="store" v-model="createForm.longitude">

                                    <span class="help-block">
                                        Longitude
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" @click="store">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                locations: [],

                distance_format: '',

                createForm: {
                    errors: [],
                    latitude: '',
                    longitude: '',
                },

                position: {
                    latitude: '',
                    longitude: ''
                }
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component.
             */
            prepareComponent() {
                this.getLocations();

                $('#modal-create-location').on('shown.bs.modal', () => {
                    $('#create-location-latitude').focus();
                });
            },

            /**
             * Get all of the Bills for the user.
             */
            getLocations() {
                axios.get('/location')
                        .then(response => {
                            this.locations = response.data;
                        });

                axios.get('/location_format')
                    .then(response => {
                        this.distance_format = response.data;
                    });
            },

            showDistanceForm() {
                this.position.longitude = prompt('latitude');
                this.position.latitude = prompt('longitude');

                axios.get('/location/'+ this.position.latitude +'/'+ this.position.longitude)
                    .then(response => {
                        this.locations = response.data;
                    });
            },

            /**
             * Show the form for creating new clients.
             */
            showCreateLocationForm() {
                $('#modal-create-location').modal('show');
            },

            /**
             * Create a new Bill for the user.
             */
            store() {
                this.persistClient(
                    'post', '/location',
                    this.createForm, '#modal-create-location'
                );
            },

            format(d) { 
                var f = '';
                var t = d;

                while(t > 1000) {
                    f += Math.floor(t / 1000) + ',';
                    t = t % 1000;
                }

                f += t % 1000;
                return f + ' ' + this.distance_format;
            },

            /**
             * Persist the client to storage using the given form.
             */
            persistClient(method, uri, form, modal) {
                form.errors = [];

                axios[method](uri, form)
                    .then(response => {
                        this.getLocations();
                        
                        form.latitude = '';
                        form.longitude = '';
                        form.errors = [];

                        $(modal).modal('hide');
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            form.errors = _.flatten(_.toArray(error.response.data));
                        } else {
                            form.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },

            /**
             * Destroy the given location.
             */
            destroy(location) {
                axios.delete('/location/' + location.id)
                        .then(response => {
                            this.getLocations();
                        });
            }
        }
    }
</script>